body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

body > h1 {
  margin: 0 0 1em 0;
  padding: 1.5em 4em;
  font-size: 150%;
  background-color: #FF6600;
  color: white;
}

body > h1 > a {
  color: inherit;
  text-decoration: none;
}

body > * {
  margin: 1em 6em;
}

h1, h2 {
  color: #FF6600;
  margin: 0;
}

section section h1 {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 100%;
}

p, li, dt {
  line-height: 1.5;
}

section > section {
  margin-top: 1em;
  margin-bottom: 1em;
}

section > p,
section > dl,
section > ul,
section > pre {
  margin: 1em;
}

dd {
  margin-bottom: 1em;
}

dd > p:first-child {
  margin-top: 0;
}

dd > p:last-child {
  margin-bottom: 0;
}

dfn {
  font-weight: bolder;
  font-style: normal;
}

cite.ref {
  font-size: 90%;
  font-style: normal;
  color: gray;
}

cite.ref a {
  color: inherit;
}

nav {
  margin-top: 1em;
  margin-bottom: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0;
  margin-right: 0.3em;
  padding: 0;
}

nav:not(.breadcrumb) ul li::before {
  content: "[";
}

nav:not(.breadcrumb) ul li::after {
  content: "]";
}

nav.breadcrumb ul li {
  margin-right: 0;
}

nav.breadcrumb ul li + li::before {
  content: " > ";
}

.breadcrumb [rel=bookmark] {
  color: inherit;
  text-decoration: none;
  font-weight: bolder;
}

footer {
  display: block;
  margin: 3em 0 0 0;
  padding: 0.5em 6em 3em;
  background-color: #ddd;
  color: #555;
  font-size: 90%;
}

footer > * {
  margin-top: 0;
  margin-bottom: 0;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul > li {
  display: inline;
  margin: 0;
  margin-right: 0.3em;
  padding: 0;
}

footer a {
  color: inherit;
  text-decoration: none;
}

.abstract {
  font-style: italic;
}

.abstract dfn {
  font-style: italic;
}

body > nav + section,
body > nav + article {
  margin-top: 2em;
}

body > section,
article > section {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

body > section > h1,
article > section > h1 {
  padding-bottom: 0.2em;
  border-bottom: 0.2em solid;
  font-size: 1.5em;
}

hgroup h1 {
  font-size: 200%;
}

hgroup h2 {
  font-size: 120%;
}

#applications, #perl-modules {
  margin-bottom: 0;
}

.repo {
  display: inline-block;
  margin: 1em;
  width: 20em;
  vertical-align: top;
}

#documentation .repo,
#specs .repo,
#tests .repo {
  display: block;
  width: auto;
  margin-left: 2em;
}

.repo.obsolete {
  color: #888;
}

.repo h1 {
  font-size: 100%;
  color: inherit;
  line-height: 1.2;
}

.years {
  font-weight: normal;
  font-size: 80%;
}

.repo.obsolete h1 {
  color: inherit;
}

.repo.obsolete a {
  color: inherit;
}

.repo .status {
  font-style: italic;
  color: #333;
  line-height: 1.5;
}

.repo p {
  margin: 1em;
  font-size: 90%;
}

#documentation .repo p,
#specs .repo p,
#tests .repo p {
  margin-top: 0.5em;
  margin-left: 2em;
}

.repo.obsolete p {
  font-size: 80%;
  line-height: 1.2;
}

#documentation .repo.obsolete p,
#specs .repo.obsolete p,
#tests .repo.obsolete p {
  font-size: 90%;
}

.repo > *:last-child {
  margin-bottom: 0;
}

.blockcode {
  display: block;
  margin: 1em 4em;
  font-family: monospace;
  font-size: 90%;
}

@media screen and (max-width: 600px) {
  body > h1 {
    padding: 1em;
    font-size: 100%;
  }

  body > * {
    margin: 1em;
  }

  .repo {
    width: auto;
  }

  .blockcode {
    margin-left: 1em;
    margin-right: 1em;
  }

  footer {
    margin: 0;
    padding-bottom: 0;
    padding-left: 1em;
  }
}